{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 style="text-align:center;">Client data</h1>

<div class="table-container">
  <table class="client-table">
    <thead>
      <tr>
        <th>#</th>
        <th>PRE FACTURA</th>
        <th>DOCUMENTO</th>
        <th>Fecha Emisión</th>
        <th>Pagado</th>
        <th>RUC</th>
        <th>Compania</th>
        <th>Moneda</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Parcial</th>
        <th>IGV</th>
        <th>Total</th>
        <th>DESCRIPCIÓN</th>
        {% if user.clients %}
          <th></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for client in user.clients %}
      <tr>
        <td>{{ loop.index }}</td>
        <td class="editable" data-id="{{ client.id }}" data-field="pre_factura">{{ client.pre_factura }}</td>
        <td class="editable" data-id="{{ client.id }}" data-field="documento">{{ client.documento }}</td>
        <td class="editable" data-id="{{ client.id }}" data-field="fecha_emision">{{ client.fecha_emision.strftime('%d.%m.%y') if client.fecha_emision else '' }}</td>
        <td class="editable" data-id="{{ client.id }}" data-field="pagado">{{  client.pagado.strftime('%d.%m.%y') if client.pagado else '' }}</td>
        <td class="editable" data-id="{{ client.id }}" data-field="ruc">{{ client.ruc }}</td>
        <td class="editable" data-id="{{ client.id }}" data-field="compania">{{ client.compania }}</td>
        <td class="editable" data-id="{{ client.id }}" data-field="moneda">{{ client.moneda }}</td>
        <td class="editable" data-id="{{ client.id }}" data-field="cantidad">{{ client.cantidad }}</td>
        <td class="editable" data-id="{{ client.id }}" data-field="precio_unitario">{{ client.precio_unitario }}</td>
        <td class="editable" data-id="{{ client.id }}" data-field="parcial">{{ client.parcial }}</td>
        <td class="editable" data-id="{{ client.id }}" data-field="igv">{{ client.igv }}</td>
        <td class="editable" data-id="{{ client.id }}" data-field="total">{{ client.total }}</td>
        <td class="editable" data-id="{{ client.id }}" data-field="descripcion">{{ client.descripcion }}</td>
        <td>
        <button type="button" class="btn btn-danger btn-sm" onClick="deleteClient({{ client.id }})">
          Delete
        </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>



<form method="POST" class="client-form">
  <fieldset>
    <h3>Add New Client</h3>
    
    <div class="form-row">
      <div class="form-group">
        <label for="pre_factura">PRE FACTURA</label>
        <input type="text" name="pre_factura" id="pre_factura" required>
      </div>
      <div class="form-group">
        <label for="documento">DOCUMENTO</label>
        <input type="text" name="documento" id="documento" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="fecha_emision">Fecha Emisión</label>
        <input type="date" name="fecha_emision" id="fecha_emision">
      </div>
      <div class="form-group">
        <label for="pagado">Pagado</label>        
        <input type="date" name="pagado" id="pagado">
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="ruc">RUC</label>
        <input type="text" name="ruc" id="ruc">
      </div>
      <div class="form-group">
        <label for="compania">Compania</label>
        <input type="text" name="compania" id="compania">
      </div>
      <div class="form-group">
        <label for="moneda">Moneda</label>  
        <input type="text" name="moneda" id="moneda">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group small">
        <label for="cantidad">Cantidad</label>
        <input type="number" step="any" name="cantidad" id="cantidad">
      </div>
      <div class="form-group small">
        <label for="precio_unitario">Precio Unitario</label>
        <input type="number" step="any" name="precio_unitario" id="precio_unitario">
      </div>
      <div class="form-group small">
        <label for="parcial">Parcial</label>
        <input type="number" step="any" name="parcial" id="parcial">
      </div>
      <div class="form-group small">
        <label for="igv">IGV</label>
        <input type="number" step="any" name="igv" id="igv">
      </div>
      <div class="form-group small">
        <label for="total">Total</label>
        <input type="number" step="any" name="total" id="total">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group full-width">
        <label for="descripcion">DESCRIPCIÓN</label>
        <textarea name="descripcion" id="descripcion"></textarea>
      </div>
    </div>

    <div class="form-row" style="text-align:center; margin-top: 20px;">
      <button type="submit">Add Client</button>
    </div>
  </fieldset>
</form>


{% endblock %}